.card-holder {
  width: 925px;
  margin: 0 auto 60px auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  display: -ms-grid;
  -ms-grid-template-columns: repeat(3, 1fr);
  -ms-grid-template-rows: repeat(1, 1fr);
  -ms-column-gap: 20px;
  -ms-row-gap: 20px;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
}

@media screen and (max-width: 980px) {
  .card-holder {
    width: 610px;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .card-holder {
    width: 295px;
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-template-columns: repeat(1, 1fr);
  }
}